h2 Application Settings
    button.btn.btn-primary(ng-click='enableEditSettings()', ng-if='!editSettings') Update
    button.btn.btn-primary(ng-click='updateConfig()', ng-if='editSettings') Save

form.container-fluid(name='settingsForm')

    h3 Logger settings
    .row
        p.col-lg-4 data server:
            label.form-control(ng-if='!editSettings') {{config.server}}
            input.form-control(ng-show='editSettings', type='text', placeholder="http://server:port", name='server', ng-model='config.server')
        //- FIXME not allowed for chrome apps
            required/>
            <span class="error" ng-show="settingsForm.server.$error.required">Required!</span>
        p.col-lg-4 password:
            label.form-control(ng-if='!editSettings') *****
            input.form-control(ng-show='editSettings', type='password', name='password', ng-model='config.password')
            span (TODO this isn't implemented yet)

        p.col-lg-4 Youless compatible:
            input(ng-disabled='!editSettings', type='checkbox', name='youlessCompatible', ng-model='config.youlessCompatible')


    h3 App settings
    .row
        p.col-lg-4 status gauge max:
            label.form-control(ng-if='!editSettings') {{config.gaugeMax}}
            input.form-control(ng-show='editSettings', type='number', placeholder="1500", name='gaugeMax', ng-model='config.gaugeMax')
    .row
        p.col-lg-4 auto update on interval (in seconds):
            label.form-control(ng-if='!editSettings') {{config.interval}}
            input.form-control(ng-show='editSettings', type='number', placeholder="60", name='interval', ng-model='config.interval')
            span (TODO this isn't implemented yet)

    .row
        p.col-lg-4 time correction (in hours):
            label.form-control(ng-if='!editSettings') {{config.timec}}
            input.form-control(ng-show='editSettings', type='number', placeholder="1", name='timec', ng-model='config.timec')
            span (TODO this isn't implemented yet)

h3 About

p Open source project for energy monitoring with support for youless API. More info at project website:
    a(href="https://github.com/hanscappelle/energy-dash") https://github.com/hanscappelle/energy-dash
